


.card-bg {
    /**position: relative;
    padding: 3rem 3rem 4rem;
    background-color:rgba(20, 20, 20, 0.85);
    border: 10px;
    border-radius: 15px;
    color: #ffffff;**/
    display: grid;
    position: relative;
    max-width: 85%;
    z-index: 10;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    text-align: center;
    /*background-color:rgba(20, 20, 20, 0.85);*/
    background-color:rgba(255,255,255,0.85);
    border-radius: 2rem 2rem 2rem 2rem;
    -moz-transition: opacity 1s ease 0s,-moz-transform 1s ease 0s;
    -webkit-transition: opacity 1s ease 0s,-webkit-transform 1s ease 0s;
    -ms-transition: opacity 1s ease 0s,-ms-transform 1s ease 0s;
    transition: opacity 1s ease 0s,transform 1s ease 0s;
    color: #7a7676;
    position: relative;
    padding: 2em 1em;
    /**width: 40rem;**/
}

.gallery2 {
    position: relative;
    padding: 3rem 1.5rem 4rem;
    /**background-color:rgba(255,255,255,0.70);**/
    border: 10px;
    border-radius: 15px;
}
/**.card-body {
    margin: 0;
}**/

.card-title{
    margin: auto;
}
.card-title h1 {
    display: inline-block;
    text-align: center;
    font-size: 3.5em;
    margin: 0 .5em;
    font-variant: small-caps;
    font-weight: 200;
    color: #4d4a4a;
    text-shadow: 3px 3px 5px rgb(173, 167, 167);
}

.card-subtitle {
    text-align: center;
    padding-top: 2.5em;
    color:rgba(255, 255, 255, 0.4);
}

.card-subtitle h2{
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    margin: 0 .5em;
    /*font-variant: small-caps;*/
    font-weight: 300;
    color: #868282;
    text-shadow: 3px 3px 6px rgb(173, 167, 167);
}

.card-subtitle h2 span {
    /*background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    text-shadow: 3px 3px 6px rgb(184, 176, 176);
}

.rainbow {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow: none;*/
    font-weight: 400;
}

@media (max-width: 1280px) {
    .card-header {
        padding: 3em 0 0;
    }
    .card-subtitle {
        padding: 5em 1em;
    }
}
@media (max-width: 480px) {
    .card-title h1 {
        display: inline-block;
        text-align: center;
        font-size: 2.5em;
        margin: 0 .5em;
        font-variant: small-caps;
        font-weight: 200;
        color: #4d4a4a;
    }
    .card-subtitle {
        text-align: center;
        padding: 3.5em 0 2.5em;
        color: rgba(255, 255, 255, 0.4);
    }
    .card-subtitle h2 {
        display: inline-block;
        text-align: center;
        font-size: 1.3em;
        font-variant: small-caps;
        font-weight: 300;
        color: #7a7676;
        line-height: 1.3em;
    }
}
@media (max-width: 376px) {
    .card-bg {
        padding: 1em 1em 3em;
    }
    .card-subtitle h2 {
        display: inline-block;
        text-align: center;
        font-size: 1.2em;
        font-variant: small-caps; 
        font-weight: 300;
        color: #7a7676;
        line-height: 1.2em;
    }

}