
.photo {
    width: 40%;
    height: 40%;
    justify-self: center;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
}

.userphoto {
    display: inline-block;
    justify-content: center;
    margin-top: .5rem;
    color: #ffffff;
    font-size: .8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.userphoto h1 {
    font-size: 1.5em;
}

@media (max-width: 480px) {
.photo {
    width: 60%;
    height: 60%;
    justify-self: center;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    }
}