

/*.Wrapper {
   /** position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    /**padding-bottom: 40px;**/
    /**display: flex;
    background-size: cover;
    /**place-items: center;**/
    /**background-color: #ffffff;**/
    /**background-image: linear-gradient(to right, #55338d, #773c98, #9846a2, #b751aa, #d65db1);**/
    /**background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,42,71,1) 33%, rgba(88,97,116,1) 66%, rgba(159,177,181,1) 100%);**/
    /**background-image: url(../assets/images/sdcoast.jpg);
    justify-content: center;
    z-index: 1;
}** /

-webkit-overflow-scrolling: touch;
display: flex;
-moz-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-moz-align-items: center;
-webkit-align-items: center;
-ms-align-items: center;
align-items: center;
-moz-justify-content: center;
-webkit-justify-content: center;
-ms-justify-content: center;
justify-content: center;
min-height: 100vh;
position: relative;
z-index: 2;
overflow: hidden;
padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
background-image: url(../assets/images/grandcanyon.jpg);
background-size: 100%;
}


.Wrapper:after {
    content:"";
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background:rgba(0,0,0,0.5);
    height:100%;
    z-index: 2;
    
}**/

body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-attachment: scroll;
    background-image: linear-gradient(to top, rgba(0,0,0,0.51), rgba(0,0,0,0.51)), url('../assets/images/grandcanyon.jpg');
    background-position: 0% 0%, bottom;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-color: #FFFFFF;
}

body:after {
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 2s ease-in-out 1s, visibility 2s 1s;
    -webkit-transition: opacity 2s ease-in-out 1s, visibility 2s 1s;
    -ms-transition: opacity 2s ease-in-out 1s, visibility 2s 1s;
    transition: opacity 2s ease-in-out 1s, visibility 2s 1s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

body.is-loading:after {
    opacity: 1;
    visibility: visible;
}

/**.card-bg {
    position: relative;
    padding: 3rem 3rem 4rem;
    background-color:rgba(255,255,255,0.70);
    border: 5px;
    border-radius: 15px;
    z-index: 10;

}**/

.card-subtitle {
    text-align: center;
}

.container {
    display: flex;
    margin: auto;
    /**background-image: linear-gradient(to right, #55338d, #773c98, #9846a2, #b751aa, #d65db1);**/
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    border: 10px;
    border-radius: 10px;
    padding-top: 2em;
    /**background-color: #FFF;**/

}

.span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@media (max-width: 1280px) {
    .container {
        padding-top: 30%;
    }
}
@media (max-width: 980px) {
    .container {
        padding: 5em 0 2.5em;
        
    }
}

@media (max-width: 480px) {
    .container {
        padding: 4em 0 2.5em;
    }
}
@media (max-width: 376px) {
    .container {
        padding: 4em 0 2em;
    }
}